.app-layout {
  .menu-tab {
    @apply px-3 py-2 w-full border border-solid border-gray-200 bg-gray-100 rounded text-black;

    &-active {
      @apply bg-blue-100 border-blue-200;
    }

    &:hover {
      @apply bg-blue-100 border-blue-200;
    }
  }

  .app {
    &-sidebar {
      min-width: 306px;
      padding: 36px 28px;
      background: white;
      transition: transform 0.3s ease; /* Smooth transition */
      
      .menu-item {
        display: flex;
        align-items: center;
        padding: 11px;
        width: 100%;
        height: 46px;
        border-radius: 8px;
        color: #9197b3;
        cursor: pointer;

        &-active {
          background: #863a92;
          color: white;
        }

        &:hover {
          background: #863a92;
          color: white;
        }
      }

      &-collapse {
        min-width: 102px;
        max-width: 102px;
        padding: 36px 28px;
        background: white;
      }
    }
  }
}
